PORT=3000
NODE_ENV=development
CORS_ORIGIN=http://localhost:5173

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=Zk94387282@
DB_NAME=zaal
DB_CONNECTION_LIMIT=10

JWT_SECRET=change-this-access-token-secret
JWT_EXPIRY=1h
REFRESH_TOKEN_SECRET=change-this-refresh-token-secret
REFRESH_TOKEN_EXPIRY=7d


